{% comment %}
    Section: Modal
{% endcomment %}

<div class="modal" id="js-modal">
    <div class="modal__box">
        <button class="modal__close"
                id="js-modal-close"
                title="{{ section.settings.close_button_title }}"></button>
        <div class="modal__oembed"></div>
    </div>
    <!-- <div><iframe src="https://player.vimeo.com/video/{{ section.settings.iframe_hero_vimeo_id }}?{{ section.settings.iframe_hero_settings }}" frameborder="0" allow="{{ section.settings.iframe_hero_allow }}" title="{{ section.settings.iframe_hero_title }}"></iframe></div> -->
</div>

{% schema %}
{
    "name": "Modal",
    "settings": [
        {
            "type": "text",
            "id": "iframe_hero_vimeo_id",
            "label": "Vimeo Iframe ID",
            "default": "1041124517"
        },
        {
            "type": "text",
            "id": "iframe_hero_settings",
            "label": "Iframe Src Settings",
            "default": "badge=0&app_id=58479"
        },
        {
            "type": "text",
            "id": "iframe_hero_allow",
            "label": "Iframe Allow Attributes",
            "default": "fullscreen;picture-in-picture;clipboard-write"
        },
        {
            "type": "text",
            "id": "iframe_hero_title",
            "label": "Iframe Title",
            "default": "Demonstration Video"
        },
        {
            "type": "text",
            "id": "close_button_title",
            "label": "Close Button Title",
            "default": "Close modal"
        },
        {
            "type": "text",
            "id": "video_title",
            "label": "Video Title",
            "default": "Demonstration Video"
        }
    ]
}
{% endschema %}
