{% comment %}
    Section: Hero w/ Video
{% endcomment %}

<div class="hero" id="hero">
    <div class="hero__oembed">
        <div class="hero__oembed-overlay"></div>
        <div class="hero__oembed-iframe">
            <iframe src="https://player.vimeo.com/video/{{ section.settings.iframe_modal_vimeo_id }}?{{ section.settings.iframe_modal_settings }}"
                    width="1920"
                    height="1080"
                    frameborder="0"
                    allow="{{ section.settings.iframe_modal_allow }}"
                    title="{{ section.settings.iframe_modal_title }}"
                    tabindex="-1"
                    id="js-background-video"
                    data-ready="true">
            </iframe>
        </div>
    </div>
    <div class="container-limited">
        <div class="hero__content">
            <h1 class="--all-caps"
                data-aos="fade-in">{{ section.settings.heading }}</h1>
            <p class="--all-caps"
               data-aos="fade-right"
               data-aos-delay="500">{{ section.settings.subheading }}</p>
            <p data-aos="fade-right"
               data-aos-delay="550">{{ section.settings.description }}</p>
        </div>
        <button id="js-play-video" class="hero__play-button">
            <div data-aos="fade-up"
                 data-aos-delay="700">
                <svg xmlns="http://www.w3.org/2000/svg"
                     version="1.1"
                     width="69"
                     height="69"
                     viewBox="0 0 69 69">
                    <circle cx="34.5"
                            cy="34.5"
                            r="34"
                            stroke="#D9D9D9"
                            fill="none" />
                    <path d="M24.5 12.4019C26.5 13.5566 26.5 16.4434 24.5 17.5981L5 28.8564C3 30.0111 0.499999 28.5677 0.499999 26.2583L0.5 3.74167C0.5 1.43227 3 -0.0111086 5 1.14359L24.5 12.4019Z"
                          fill="#D9D9D9"
                          transform="translate(21.5, 19.5)" />
                </svg>
            </div>
            <div data-aos="fade-up"
                 data-aos-delay="750">
                <span class="hero__play-text --all-caps">{{ section.settings.button_text }}</span>
            </div>
        </button>
        <a href="#{{ section.settings.scroll_target }}"
           class="hero__scroll-to"
           id="js-smooth-scroll"
           title="{{ section.settings.scroll_title }}">
            <svg width="47"
                 height="20"
                 viewBox="0 0 47 20"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L23.5 19L46 1" stroke="#D9D9D9"/>
            </svg>
        </a>
    </div>
</div>

{% schema %}
{
    "name": "Hero w/ Video",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Introducing<br/>The In Case<br/>of Death Case."
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Bricks your iPad when you die, so you can take your secrets to the grave."
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "From the makers of the case for every situation comes a case for the most extreme situation: mortality. A limited edition version of our yet-to-be-released 360 case, for anyone who wants to bury their secrets."
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Watch a live demonstration"
        },
        {
            "type": "text",
            "id": "scroll_target",
            "label": "Scroll Target (HTML ID)",
            "default": "showcase"
        },
        {
            "type": "text",
            "id": "scroll_title",
            "label": "Scroll Link Title",
            "default": "Jump to next section"
        },
        {
            "type": "text",
            "id": "iframe_modal_vimeo_id",
            "label": "Vimeo Iframe ID",
            "default": "897279696"
        },
        {
            "type": "text",
            "id": "iframe_modal_settings",
            "label": "Iframe Src Settings",
            "default": "playsinline=1&controls=0&hd=1&autoplay=1&background=1&loop=1&byline=0&title=0&muted=1"
        },
        {
            "type": "text",
            "id": "iframe_modal_allow",
            "label": "Iframe Allow Attributes",
            "default": "autoplay;fullscreen;picture-in-picture"
        },
        {
            "type": "text",
            "id": "iframe_modal_title",
            "label": "Iframe Title",
            "default": "Looping Background Video"
        },
    ]
}
{% endschema %}
