{% comment %}
    Section: Ring Sizes Introduction
{% endcomment %}

<div class="sizes-introduction">
    <div class="container-limited">
        <div class="sizes-introduction__content">
            <div data-aos="fade-right"
                 data-aos-delay="50">
                <a href="{{ section.settings.back_link }}"
                   class="sizes-introduction__back-button --all-caps"
                   title="{{ section.settings.back_title }}">{{ section.settings.back_text }}</a>
            </div>
            <h1 class="--all-caps"
                data-aos="fade-right"
                data-aos-delay="150">{{ section.settings.heading }}</h1>
            <p data-aos="fade-right"
               data-aos-delay="200">{{ section.settings.intro_text }}</p>
            <p data-aos="fade-right"
               data-aos-delay="250">{{ section.settings.what_youll_need_heading }}</p>
            <ul>
                {% for item in section.blocks %}
                    <li data-aos="fade-right"
                        data-aos-delay="300">{{ item.settings.item_text }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Ring Sizes Introduction",
    "settings": [
        {
            "type": "url",
            "id": "back_link",
            "label": "Back Link",
            "default": "/"
        },
        {
            "type": "text",
            "id": "back_title",
            "label": "Back Button Title",
            "default": "Go back home"
        },
        {
            "type": "text",
            "id": "back_text",
            "label": "Back Button Text",
            "default": "Back"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Find the Perfect Fit<br/>for your Zugu Ring"
        },
        {
            "type": "textarea",
            "id": "intro_text",
            "label": "Introduction Text",
            "default": "Before you receive your Zugu Ring, let’s ensure you select the perfect size. With a thin strip of paper and our step-by-step guide, you can measure your finger and confidently select your ring size."
        },
        {
            "type": "text",
            "id": "what_youll_need_heading",
            "label": "What You'll Need Heading",
            "default": "What You’ll Need:"
        }
    ],
    "blocks": [
        {
            "type": "ring_sizes_intro_item",
            "name": "List Item",
            "settings": [
                {
                    "type": "text",
                    "id": "item_text",
                    "label": "Item Text",
                    "default": "Your finger"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Default"
        }
    ]
}
{% endschema %}
